@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Import fonte: Poppins */

/* GERAL */
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

body{
    max-width: 100vw;
}

/* HEADER */
.cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2vh 0;
    max-height: 15vh;
}

.itens{
    display: flex;
    gap: 25px;
}

.itens a{
    color: black;
    text-decoration: none;
}

.botao{
    padding: 10px 20px;
    border: none;
    outline: none;
    background-color: #BE580F;
    border-radius: 10px;
    cursor: pointer;
    color: white;
}

.cabecalho img, .desc img{
    width: 200px;
}
/* FIM HEADER */

/* HERO */
.hero{
    max-width: 100vw;
    height: 85vh;
    justify-content: center;
    align-items: center;
    display: flex;
    background-image: url("../imgs/main-bg-h.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    flex-direction: column;
    gap: 10px;
}

.hero h1{
    color: white;
    font-weight: 600;
    font-size: 4em;
    text-align: center;
}

.hero h1 span{
    color: #BE580F;
}

.hero p{
    padding-top: -1rem;
    color: white;
}

.pesquisa{
    padding: 1rem;
    border: none;
    outline: #BE580F;
    font-size: 1rem;
    border-radius: 10px;
    width: 400px;
}

.input_container{
    padding: .4rem .5rem;
    border-radius: 10px;
    background-color: rgba(213, 213, 213, 0.75);
}

.input_container .botao{
    padding: 1rem;
    font-size: 1rem;
}
/* FIM HEADER */

/* INICIO CARDS */
.header-livros{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.header-livros a{
    color: #BE580F;
    text-decoration: none;
    font-size: 1rem;
}

.header-livros a:hover{
    opacity: .8;
}

.cards{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-top: 2rem;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FAFAFF;
    border:solid 2px rgba(0, 0, 0, 0.10) ;
    border-radius: 15px;
    color: black;
    padding: .5rem 1rem;
}

.livros{
    padding: 2vw;
}

.card img{
    height: 40vh;
    max-width: 18vw;
}

a.btn{
    text-align: center;
    text-decoration: none;
    color: #BE580F;
    background-color: rgba(190, 88, 15, 0.25);
    margin-top: 1rem;
    padding: 0.25rem 4rem;
    border-radius: 5px;
}

.autor{
    color: gray;    
    font-size: .5em;
}

.card div p{
    font-size: 1em;
}
/* FIM CARDS */

/* INICIO FOOTER */
footer{
    background-color: black;
    color: white;
}

.flex-row{
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: space-around;
    padding: 2rem 1rem 0;
}

.redes, .icons{
    max-width: 2rem;
}

.desc, .contact-us, .hours-of-operation, .quickLinks{
    max-width: 25vw;
    display: flex;
    flex-direction: column;
}

.logo-footer{
    margin: -2rem 0;
}

.ilist{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    gap: .5rem;
    margin: .5rem 0;
}

.horario{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
/* FIM FOOTER */